
ask 1/out/production/askisi 1/ask1/TCPClient.class
ask 1/out/production/askisi 1/ask1/TCPServer.class
ask 1/out/production/askisi 1/ask2/dodos.txt
ask 1/out/production/askisi 1/ask2/index.html
ask 1/out/production/askisi 1/ask2/petros.txt
ask 1/out/production/askisi 1/ask2/TCPClient.class
ask 1/out/production/askisi 1/ask2/WebServer.class
ask 2/ask2.zip
